
@media screen and (max-width:900px){
    html{
        font-size: 56.25%;
    }
   .best-gift h3{
       color:red;
       font-size: 6rem;
   }
   .slogan{
    font-size: 2.5rem;
}
.steve{
    font-size: 2rem;
}
    .airpods-title{
        font-size: 6rem;
    }
    #airpods{
        /* padding: 5rem ; */
        height: 70vh;
        /* border: 1px solid green; */
    }
}
@media screen and (max-width:800px){
    header{
        overflow-x: hidden;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar>*{
        margin-bottom: 2rem;
    }
    .navlinks{
        padding: 2rem;
        /* border: 1px solid blue; */
    }
    .navlink{
        /* border: 1px solid red; */
        transition: color .5s;
    }
    .navlink:hover{
        font-size: 1.5rem;
        color: var(--white-color);
    }
    .iphone-box{
        position: absolute;
        padding-left: 0;
        z-index: -100;
        top: 0;
    }
    .header-main{
        position: relative;
        /* border: 1px solid rgb(243, 6, 168); */
    }
    .rotate-arrows{
        display: none;
    }
    .iphone-imgs{
        width: 55rem;
        height: 35rem;
        /* background-color: blue; */
       }
    
    .airpod-img-1{
        display: none;
    }
    .footer-nav img{
        width: 4rem;
        margin: 0rem 3rem;
        cursor: pointer;
    }
    /* .watch-bands img , .watch-cases img{
        width: 20rem;
        height: 20rem;
     } */
    .airpod-img-2 img{
        width: 40rem;
    }
}
@media screen and (max-width:600px){
    html{
        font-size: 50%;
    }
    
   .best-gift h3{
       color:green;
       font-size: 5rem;
   }
   
    .slogan{
    font-size: 2.3rem;
    }
    .steve{
    font-size: 1.7rem;
    }
   
 #airpods{
     padding: 2rem ;
     height: 40vh;
     /* border: 1px solid green; */
 }
 .airpods-imgs .airpod-img-1{
     display: none;
 }
 .iphone-imgs{
    width: 45rem;
    height: 30rem;
    /* background-color: blue; */
   }
   /* header{
       display: none;
   } */
   .airpods-btns{
       /* border: 1px solid rebeccapurple; */
       width: max-content;
   }
   .copyright{
       font-size: 1.5rem;
   }
   .watch-btn{
       right: 10%;
   }
}
@media screen and (max-width:400px){
    html{
        font-size: 43.75%;
    }
   .best-gift h3{
       color:blue;
   }
   .airpods-imgs img{
    width: 50%;
   }
   
}