/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/



@media screen and (max-width:900px){
    html{
        font-size: 56.25%;
    }
   .best-gift h3{
      
       font-size: 6rem;
   }
   .slogan{
    font-size: 2.5rem;
}
.steve{
    font-size: 2rem;
}
    .airpods-title{
        font-size: 6rem;
    }
    #airpods{
       
        height: 70vh;
       
    }
}
@media screen and (max-width:895px){
    #watches{
        height: 90vh;
        /* border: 1px solid blue; */
    }
    #airpods{
        height: 50vh;
    }
}
@media screen and (max-width:800px){
    header{
        overflow-x: hidden;
        height: 75vh;
    }
    .navbar{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .navbar>*{
        margin-bottom: 2rem;
    }
    .navlinks{
        padding: 2rem;
        
    }
    .navlink{
       
        -webkit-transition: color .5s;
       
        -o-transition: color .5s;
       
        transition: color .5s;
    }
    .navlink:hover{
        font-size: 1.5rem;
        color: var(--white-color);
    }
    .iphone-box{
        position: absolute;
        padding-left: 0;
        z-index: -100;
        top: 0;
    }
    .header-main{
        position: relative;
       
    }
    .rotate-arrows{
        display: none;
    }
    .iphone-imgs{
        width: 55rem;
        height: 35rem;
       
       }
    
    .airpod-img-1{
        display: none;
    }
    .footer-nav img{
        width: 4rem;
        margin: 0rem 3rem;
        cursor: pointer;
    }
    
    .airpod-img-2 img{
        width: 40rem;
    }
    #airpods{
        padding: 2rem ;
        height: 60vh;
      
    }
}
@media screen and (max-width:600px){
    html{
        font-size: 50%;
    }
    /* header{
       
        height: 100vh;
    } */
    
   .best-gift h3{
     
       font-size: 5rem;
   }
   
    .slogan{
    font-size: 2.3rem;
    }
    .steve{
    font-size: 1.7rem;
    }
    .light-speed{
        font-size: 3rem;
        color: var(--primary-color);
  }
  .macbook-price{
    font-size: 1.7rem;
}
 #airpods{
     padding: 2rem ;
     height: 40vh;
   
 }
 .airpods-imgs .airpod-img-1{
     display: none;
 }
 .iphone-imgs{
    width: 45rem;
    height: 30rem;
    
   }
  
   .airpods-btns{
      
       width: -webkit-max-content;
      
       width: -moz-max-content;
      
       width: max-content;
   }
   .copyright{
       font-size: 1.5rem;
   }
   .watch-btn{
       right: 10%;
   }
}
@media screen and (max-width:580px){
    header{
       
        height: 70vh;
    }
    #airpods{
     
        height: 50vh;
      
    }
}
@media screen and (max-width:400px){
    html{
        font-size: 43.75%;
    }
    header{
        height: 75vh;
    }
    .mac-btn{
        padding: .5rem 2.5rem;
        background: -webkit-gradient(linear,left top, left bottom,from(#6edae6),to(#fff));
        background: -o-linear-gradient(top,#6edae6,#fff);
        background: linear-gradient(to bottom,#6edae6,#fff);
        border: none;
        outline: none;
        border-radius: .4rem;
        cursor: pointer;
    }
   
}
@media screen and (max-width:380px){
    header{
       
        height: 85vh;
    }
    #airpods{
     
        height: 50vh;
      
    }
}