/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
/* navbar */
.navbar{
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   padding-top: 2rem;
}
.nav-logo{
   
    -webkit-box-flex: 1;
   
        -ms-flex: 1;
   
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}
.nav-logo i{
    font-size: 8rem;

}
.navlinks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.navlinks .navlink{
     padding: 1rem;
    
     text-align: center;
     width: 15rem;
     font-size: 1.5rem;
     -webkit-transition: font-size .2s ;
     -o-transition: font-size .2s ;
     transition: font-size .2s ;
     color: var(--black-color);
   
}
.navlink a {
 color: inherit;
}
.navlink:hover{
    font-size: 2rem;
}
.header-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    text-align: center;
}

.best-gift{
   
    -webkit-box-flex:5;
   
        -ms-flex:5;
   
            flex:5;
}
.best-gift > *{
    margin-bottom: 2.5rem;
}
.best-gift h3{
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 1rem;
}
.slogan{
    font-size: 3rem;
}
.steve{
    font-size: 2.5rem;
}
.btn-arrow{
    background-color: var(--black-color);
    color:var( --primary-color);
    -webkit-clip-path: polygon(
        50% 0%,
        81% 5%,
        100% 0,
        100% 100%,
        80% 95%,
        50% 100%,
        20% 95%,
        0 100%,
        0 0,
        23% 5%
      );
            clip-path: polygon(
        50% 0%,
        81% 5%,
        100% 0,
        100% 100%,
        80% 95%,
        50% 100%,
        20% 95%,
        0 100%,
        0 0,
        23% 5%
      );

    -webkit-transition: -webkit-clip-path .3s;

    transition: -webkit-clip-path .3s;

    -o-transition: clip-path .3s;

    transition: clip-path .3s;

    transition: clip-path .3s, -webkit-clip-path .3s;
}
.btn{
    padding: 1.2rem 3rem;
}
.btn-arrow:hover{
    -webkit-clip-path: polygon(
        40% 15%,
        77% 15%,
        100% 10%,
        100% 90%,
        75% 85%,
        40% 85%,
        30% 100%,
        0 50%,
        0 50%,
        30% 0
      );
            clip-path: polygon(
        40% 15%,
        77% 15%,
        100% 10%,
        100% 90%,
        75% 85%,
        40% 85%,
        30% 100%,
        0 50%,
        0 50%,
        30% 0
      );
}

/* cube */
.iphone-box{
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    padding-top: 5rem;
    padding-left: 8rem;
}
.cube-wrapper{
    -webkit-perspective: 100rem;
            perspective: 100rem;
    width: 20rem;
    height: 38rem;
    position: relative;
    margin-bottom: 6rem;
   
}
.cube{
  
    -webkit-transform-style: preserve-3d;
  
            transform-style: preserve-3d;
    width: inherit;
    height: inherit;
    background-color: #fee;
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    position: relative;
    -webkit-backface-visibility: none;
            backface-visibility: none;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}
.front-side{
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    background-color: #fee;
    -webkit-transform: translateZ(3rem);
            transform: translateZ(3rem);
    position: relative;
}
.front-side img{
   width: 100%;
   height: 100%;
   -o-object-fit: contain;
      object-fit: contain;
}
.back-side{
    background-color: #fee;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform: translateZ(-3rem);
            transform: translateZ(-3rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.back-side i{
       font-size: 5rem;
       color: var(--primary-color);
       -webkit-transform: rotateY(180deg);
               transform: rotateY(180deg);
}
.left-side,.right-side{
    width: 6rem;
    height: 100%;
    background-color: #fee;
    -webkit-transform:rotateY(90deg) translateZ(-3rem);
            transform:rotateY(90deg) translateZ(-3rem);
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.right-side{
 -webkit-transform:rotateY(-90deg) translateZ(-17rem);
         transform:rotateY(-90deg) translateZ(-17rem);
}
.right-side p, .left-side p{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    color: #000000;
}
.top-side,.bottom-side{
    width: 100%;
    height: 6rem;
    background-color: #fee;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    position: absolute;
}
.top-side{
    top: -3rem;

}
.bottom-side{
    bottom:-3rem;
}
.rotate-arrows{
    width: 7.5rem;
    height: 7.5rem;
    border: .5rem solid var(--black-color);
    
    border-radius: 50%;
    position: relative;
    padding: 1rem;
    background-color: rgba(0,0,0,.9);
}
.rotate-arrows i{
    font-size: 1.5rem;
    cursor: pointer;
    color: #034a53;
   -webkit-transition: color .4s;
   -o-transition: color .4s;
   transition: color .4s;
}
.rotate-arrows i:hover{
    color: var(--primary-color);
}

.rotate-arrows>div{
    position: absolute;
}
.x-up{
   
   
    top: 0;
    left: 45%;
}
.y-right{
 
    right: 0;
    top: 45%;
}
.z-up{
  
    top: 15%;
    right: 10%;
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
}

.x-down{
   
    bottom: 0;
    left: 45%;
}
.y-left{
   
    left: 0;
    top: 45%;
}
.z-down{
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
   bottom: 10%;
    left: 18%;
}

/* //i Phone  */



.iphone-imgs{
    width: 65rem;
    height: 45rem;
   
    margin: 0 auto;
   background: -webkit-gradient(linear,left top, left bottom,from(#6edae6),to(#fff));
   background: -o-linear-gradient(top,#6edae6,#fff);
   background: linear-gradient(to bottom,#6edae6,#fff);
   padding: 5rem;
   position: relative;
   margin-top: -42rem;
   z-index: 1000;
}
.iphone-imgs img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.iphone-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 0;
    -webkit-transition: opacity 5s;
    -o-transition: opacity 5s;
    transition: opacity 5s;
}
.iphone-1{
    -webkit-transition: opacity 5s;
    -o-transition: opacity 5s;
    transition: opacity 5s;
}
.iphone-imgs:hover .iphone-2{
       opacity: 1;
}
.iphone-imgs:hover .iphone-1{
    opacity: 0;
}
.iphone-title{
    font-size: 6rem;
    font-weight: 300;
    
    z-index: 10;
    width: 40rem;
    height: 60rem;
    margin: 0 auto;
    background-color: transparent;
   
    position: relative;
    
}
.iphone-title p{
    z-index: 100;
    font-weight: 300;
}
.iphone-title::before{
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left top, left bottom,from(#6edae6),to(#fff));
    background: -o-linear-gradient(top,#6edae6,#fff);
    background: linear-gradient(to bottom,#6edae6,#fff);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    -webkit-transform: skewX(-40deg);
        -ms-transform: skewX(-40deg);
            transform: skewX(-40deg);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    border-radius: .5rem;
}


.iphone-btns{
    
   
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    -webkit-box-pack: center;
   
        -ms-flex-pack: center;
   
            justify-content: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-top:4rem;
}
.iphone-btn{
    width: 5rem;
    height: 5rem;
    background-color: var(--black-color);
    margin: 4rem ;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.iphone-btn:hover{
    opacity: .92;
}
.iphone-btn::after{
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    border-radius: .5rem;
}

.iphone-btn-1::before{
    content: 'LEARN MORE';
    display: block;
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
   
    margin-top: -3rem;
    margin-left: -1.3rem;
    font-size: 1.2rem;
    color: #09272b;
    -webkit-transition: fonst-size 1s;
    -o-transition: fonst-size 1s;
    transition: fonst-size 1s;

}
.iphone-btn-2::before{
    content: 'SHOP';
    display: block;
    margin-bottom: 5rem;
    width: 100%;
   
    text-align: center;
    
    margin-top: -3rem;
  
    font-size:1.2rem;
    color: #09272b;
    -webkit-transition: fonst-size 1s;
    -o-transition: fonst-size 1s;
    transition: fonst-size 1s;
}




/* MacBook section */

.macbook-title{
    font-size: 6rem;
    font-weight: 300;
    color: var(--primary-color);
    margin-bottom: 10rem;
}
.macbook{
    
   display: -webkit-box;
    
   display: -ms-flexbox;
    
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   position: relative;
}

.macbook img{
    width: 70%;
}
.screen{
    -webkit-transform: rotateX(-70deg);
            transform: rotateX(-70deg);
    -webkit-transform-origin:  bottom;
        -ms-transform-origin:  bottom;
            transform-origin:  bottom;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
}

.macbook-logo{
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
    -webkit-transition: opacity 1s 2s;
    -o-transition: opacity 1s 2s;
    transition: opacity 1s 2s;
    opacity: 0;
}
.macbook-logo i{
    font-size: 5rem;
    color: var(--white-color);
    margin-top: -2rem;
    z-index: -10;
}
.macbook-logo .loading{
    width: 13rem;
    height: .2rem;
    background-color: rgb(188, 185, 185);
    margin-top: 1.5rem;
    position: relative;
   
    
}
.loading::after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(251, 251, 251);
    -webkit-transition: width 1.5s 2.5s;
    -o-transition: width 1.5s 2.5s;
    transition: width 1.5s 2.5s;
    -webkit-box-shadow: 0rem 0rem .2rem rgb(251, 251, 251);
            box-shadow: 0rem 0rem .2rem rgb(251, 251, 251);
  
}

.desktop{
    position:absolute;
    top: 5%;
   
    width: 52%;
    height: 82%;
    background-color: rgba(6, 3, 3, 0.755);
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: opacity 2s linear 8s;
    -o-transition: opacity 2s linear 8s;
    transition: opacity 2s linear 8s;
}
.macbook-buy{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/MacBook/macbook-1-desktop.png);
    -webkit-transition: opacity 1s linear 4s ;
    -o-transition: opacity 1s linear 4s ;
    transition: opacity 1s linear 4s ;
}
.macbook-buy>*{
    margin-bottom: 2.5rem;
}
.light-speed{
      font-size: 4rem;
      color: var(--primary-color);
}
.macbook-price{
    font-size: 2rem;
}
.mac-btn{
    padding: .8rem 3.5rem;
    background: -webkit-gradient(linear,left top, left bottom,from(#6edae6),to(#fff));
    background: -o-linear-gradient(top,#6edae6,#fff);
    background: linear-gradient(to bottom,#6edae6,#fff);
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
}

.animate .screen{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
}
.animate .macbook-logo{
    opacity: 1;
}
.animate .loading::after{
    width: 100%;
}
.animate .macbook-buy{
    opacity: 1;
}

/* watches */

.watches > div{
    position: absolute;
}
.watches{
    position: relative;
    width: 100%;
    height: 100%;
   
    overflow: hidden;
   
}
 .watch-bands img , .watch-cases img{
    width: 25rem;
    height: 25rem;
    
 }
 .watch-bands{
    
     display: -webkit-box;
    
     display: -ms-flexbox;
    
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%,-50%);
         -ms-transform: translate(-50%,-50%);
             transform: translate(-50%,-50%);
     -webkit-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
 }
 .watch-cases {
  
     display: -webkit-box;
  
     display: -ms-flexbox;
  
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%,-50%);
         -ms-transform: translate(-50%,-50%);
             transform: translate(-50%,-50%);
     -webkit-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
 }
 
.watch-contorls i{
    font-size: 2rem;
    cursor: pointer;
}
.watch-up{
     position: absolute;
     top:20vh;
     left: 50%; 
     -webkit-transform: translate(-50%,-50%); 
         -ms-transform: translate(-50%,-50%); 
             transform: translate(-50%,-50%);
     background-color: #6edae66d;
     width: 3rem;
     height: 3rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     border-radius: 50%;
}
.watch-down{
    position: absolute;
   bottom:15vh;
    left: 50%; 
    -webkit-transform: translate(-50%,-50%); 
        -ms-transform: translate(-50%,-50%); 
            transform: translate(-50%,-50%);
    background-color: #6edae66d;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
}
.watch-right{
    position: absolute;
    top: 50%;
    right:2rem ;
    background-color: #6edae66d;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
}
.watch-left{
    position: absolute;
    top: 50%;
    left:2rem ;
    background-color: #6edae66d;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
}
.watch-btn{
    position: absolute;
    bottom: 22%;
    right: 20%;
    padding: .7rem 2rem;
    border-radius: 2rem;
    background-color: var(--black-color);
    color: var(--primary-color);
    cursor: pointer;
  

}

.airpods{
 
    position: relative;
    
}
.airpods-title{
    position: absolute;
    font-size: 10rem;
    letter-spacing: .5rem;
    left: 50%;
    color: var(--white-color);
    text-shadow: .1rem 0rem var(--black-color);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}


.airpod-img-1{
   
    -webkit-box-flex: 1;
   
        -ms-flex: 1;
   
            flex: 1;
}
.airpod-img-2{
    background-color: var(--primary-color);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.airpods-imgs{
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.airpods-imgs img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.airpods-btns{
    position: absolute;

    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}

.airpods-btns button{
    width: 10rem;
    height: 3rem;
    margin:0 2rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}
.airpods-btn-1{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.airpods-btn-2{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.footer-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer-nav img{
    width: 6rem;
    margin: 0rem 4rem;
    cursor: pointer;
}
.copyright{
    margin-top: 4rem;
    text-align: center;
}