
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
/* navbar */
.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
   padding-top: 2rem;
}
.nav-logo{
   
    flex: 1;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.nav-logo i{
    font-size: 8rem;

}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlinks .navlink{
     padding: 1rem;
     /* margin-left: 2rem; */
     text-align: center;
     width: 15rem;
     font-size: 1.5rem;
     transition: font-size .2s ;
     color: var(--black-color);
     /* border: 1px solid salmon; */
}
.navlink a {
 color: inherit;
}
.navlink:hover{
    font-size: 2rem;
}
.header-main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 6rem; */
    text-align: center;
}

.best-gift{
    /* border: 1px solid rebeccapurple; */
    flex:5;
}
.best-gift > *{
    margin-bottom: 2.5rem;
}
.best-gift h3{
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 1rem;
}
.slogan{
    font-size: 3rem;
}
.steve{
    font-size: 2.5rem;
}
.btn-arrow{
    background-color: var(--black-color);
    color:var( --primary-color);
    clip-path: polygon(
        50% 0%,
        81% 5%,
        100% 0,
        100% 100%,
        80% 95%,
        50% 100%,
        20% 95%,
        0 100%,
        0 0,
        23% 5%
      );

    transition: clip-path .3s;
}
.btn{
    padding: 1.2rem 3rem;
}
.btn-arrow:hover{
    clip-path: polygon(
        40% 15%,
        77% 15%,
        100% 10%,
        100% 90%,
        75% 85%,
        40% 85%,
        30% 100%,
        0 50%,
        0 50%,
        30% 0
      );
}

/* cube */
.iphone-box{
    flex:3;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    align-items:center;
    justify-content: flex-end;
    flex-direction: column;
    /* padding-right: 8rem; */
    padding-top: 5rem;
    padding-left: 8rem;
}
.cube-wrapper{
    perspective: 100rem;
    width: 20rem;
    height: 38rem;
    position: relative;
    margin-bottom: 6rem;
    /* border: 1px solid red; */
}
.cube{
    /* border: 1px solid blue; */
    transform-style: preserve-3d;
    width: inherit;
    height: inherit;
    background-color: #fee;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    position: relative;
    backface-visibility: none;
    transition: transform .5s;
}
.front-side{
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    background-color: #fee;
    transform: translateZ(3rem);
    position: relative;
}
.front-side img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.back-side{
    background-color: #fee;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateZ(-3rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-side i{
       font-size: 5rem;
       color: var(--primary-color);
       transform: rotateY(180deg);
}
.left-side,.right-side{
    width: 6rem;
    height: 100%;
    background-color: #fee;
    transform:rotateY(90deg) translateZ(-3rem);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side{
 transform:rotateY(-90deg) translateZ(-17rem);
}
.right-side p, .left-side p{
    transform: rotateY(180deg);
    color: #000000;
}
.top-side,.bottom-side{
    width: 100%;
    height: 6rem;
    background-color: #fee;
    transform: rotateX(90deg);
    position: absolute;
}
.top-side{
    top: -3rem;

}
.bottom-side{
    bottom:-3rem;
}
.rotate-arrows{
    width: 7.5rem;
    height: 7.5rem;
    border: .5rem solid var(--black-color);
    /* margin-left: 8rem; */
    border-radius: 50%;
    position: relative;
    padding: 1rem;
    background-color: rgba(0,0,0,.9);
}
.rotate-arrows i{
    font-size: 1.5rem;
    cursor: pointer;
    color: #034a53;
   transition: color .4s;
}
.rotate-arrows i:hover{
    color: var(--primary-color);
}
/* control-arrrows */
.rotate-arrows>div{
    position: absolute;
}
.x-up{
    /* opacity: 1; */
   
    top: 0;
    left: 45%;
}
.y-right{
 
    right: 0;
    top: 45%;
}
.z-up{
  
    top: 15%;
    right: 10%;
    transform: rotateZ(45deg);
}

.x-down{
   
    bottom: 0;
    left: 45%;
}
.y-left{
   
    left: 0;
    top: 45%;
}
.z-down{
    transform: rotateZ(45deg);
   bottom: 10%;
    left: 18%;
}

/* //i Phone  */

/* .iphone-title{
    width: 50rem;
    height: 40rem;
    margin: 0 auto;
    background-color: blue;
    text-align: center;
    clip-path: polygon(36% 0, 100% 0, 64% 100%, 0% 100%);
}
.iphone-title p{
    font-size: 6rem;
    font-weight: 300;
} */

.iphone-imgs{
    width: 65rem;
    height: 45rem;
    /* background-color: blue; */
    margin: 0 auto;
   background: linear-gradient(to bottom,#6edae6,#fff);
   padding: 5rem;
   position: relative;
   margin-top: -42rem;
   z-index: 1000;
}
.iphone-imgs img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.iphone-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 5s;
}
.iphone-1{
    transition: opacity 5s;
}
.iphone-imgs:hover .iphone-2{
       opacity: 1;
}
.iphone-imgs:hover .iphone-1{
    opacity: 0;
}
.iphone-title{
    font-size: 6rem;
    font-weight: 300;
    /* text-align: center; */
    /* border: 1px solid red; */
    z-index: 10;
    width: 40rem;
    height: 60rem;
    margin: 0 auto;
    background-color: transparent;
    /* background: linear-gradient(to bottom,#6edae6,#fff); */
    position: relative;
    /* border: 1px solid red; */
}
.iphone-title p{
    z-index: 100;
    font-weight: 300;
}
.iphone-title::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#6edae6,#fff);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transform: skewX(-40deg);
    transform-origin: top right;
    border-radius: .5rem;
}


.iphone-btns{
    /* padding-top: 4rem; */
   
    margin: 0 auto;
    display: flex;
    /* border: 1px solid rebeccapurple; */
    justify-content: center;
    width: min-content;
    margin-top:4rem;
}
.iphone-btn{
    width: 5rem;
    height: 5rem;
    background-color: var(--black-color);
    margin: 4rem ;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.iphone-btn:hover{
    opacity: .92;
}
.iphone-btn::after{
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: .5rem;
}

.iphone-btn-1::before{
    content: 'LEARN MORE';
    display: block;
    position: absolute;
    width: max-content;
    /* border: 1px solid red; */
    margin-top: -3rem;
    margin-left: -1.3rem;
    font-size: 1.2rem;
    color: #09272b;
    transition: fonst-size 1s;

}
.iphone-btn-2::before{
    content: 'SHOP';
    display: block;
    margin-bottom: 5rem;
    width: 100%;
   
    text-align: center;
    /* border: 1px solid red; */
    margin-top: -3rem;
  
    font-size:1.2rem;
    color: #09272b;
    transition: fonst-size 1s;
}

/* .iphone-btn-1:hover .iphone-btn-1::before{
    font-size: 1.2rem;
}
.iphone-btn-2:hover .iphone-btn-2::before{
    font-size: 1.2rem;
} */


/* MacBook section */

.macbook-title{
    font-size: 6rem;
    font-weight: 300;
    color: var(--primary-color);
    margin-bottom: 10rem;
}
.macbook{
    /* text-align: center; */
   /* border: 1px solid red; */
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
}
/* .screen{

} */
.macbook img{
    width: 70%;
    /* height: 100%; */
    /* border: 1px solid green; */
    /* object-fit: contain; */
}
.screen{
    transform: rotateX(-70deg);
    transform-origin:  bottom;
    transition: transform 2s;
}

.macbook-logo{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: opacity 1s 2s;
    opacity: 0;
}
.macbook-logo i{
    font-size: 5rem;
    color: var(--white-color);
    margin-top: -2rem;
    z-index: -10;
}
.macbook-logo .loading{
    width: 13rem;
    height: .2rem;
    background-color: rgb(188, 185, 185);
    margin-top: 1.5rem;
    position: relative;
    /* transition: all 2s; */
    
}
.loading::after{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(251, 251, 251);
    transition: width 1.5s 2.5s;
    box-shadow: 0rem 0rem .2rem rgb(251, 251, 251);
  
}

.desktop{
    position:absolute;
    top: 5%;
    /* border: 1px solid red; */
    width: 52%;
    height: 82%;
    background-color: rgba(6, 3, 3, 0.755);
    /* background-image: url(./images/MacBook/macbook-1-desktop.png); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 2s linear 8s;
}
.macbook-buy{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/MacBook/macbook-1-desktop.png);
    transition: opacity 1s linear 4s ;
}
.macbook-buy>*{
    margin-bottom: 2.5rem;
}
.light-speed{
      font-size: 4rem;
      color: var(--primary-color);
}
.macbook-price{
    font-size: 2rem;
}
.mac-btn{
    padding: .8rem 3.5rem;
    background: linear-gradient(to bottom,#6edae6,#fff);
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
}

.animate .screen{
    transform: rotateX(0deg);
}
.animate .macbook-logo{
    opacity: 1;
}
.animate .loading::after{
    width: 100%;
}
.animate .macbook-buy{
    opacity: 1;
}

/* watches */

.watches > div{
    position: absolute;
}
.watches{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
   
}
 .watch-bands img , .watch-cases img{
    width: 25rem;
    height: 25rem;
    
 }
 .watch-bands{
     /* border: 1px solid red; */
     display: flex;
     flex-direction: row;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     transition: all 1s;
 }
 .watch-cases {
    /* border: 1px solid red; */
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     transition: all 1s;
 }
 
.watch-contorls i{
    font-size: 2rem;
    cursor: pointer;
}
.watch-up{
     position: absolute;
     top:20vh;
     left: 50%; 
     transform: translate(-50%,-50%);
     background-color: #6edae66d;
     width: 3rem;
     height: 3rem;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
}
.watch-down{
    position: absolute;
   bottom:15vh;
    left: 50%; 
    transform: translate(-50%,-50%);
    background-color: #6edae66d;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.watch-right{
    position: absolute;
    top: 50%;
    right:2rem ;
    background-color: #6edae66d;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.watch-left{
    position: absolute;
    top: 50%;
    left:2rem ;
    background-color: #6edae66d;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.watch-btn{
    position: absolute;
    bottom: 22%;
    right: 20%;
    padding: .7rem 2rem;
    border-radius: 2rem;
    background-color: var(--black-color);
    color: var(--primary-color);
    cursor: pointer;
    /* border: 3px dashed var(--black-color); */

}

.airpods{
    /* border: 1px solid red; */
    position: relative;
    
}
.airpods-title{
    position: absolute;
    font-size: 10rem;
    letter-spacing: .5rem;
    left: 50%;
    color: var(--white-color);
    text-shadow: .1rem 0rem var(--black-color);
    transform: translateX(-50%);
}


.airpod-img-1{
    /* background-color: violet; */
    flex: 1;
}
.airpod-img-2{
    background-color: var(--primary-color);
    flex: 1;
}
.airpods-imgs{
    /* border: 3px solid lightskyblue; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.airpods-imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.airpods-btns{
    position: absolute;

    top: 55%;
    left: 50%;
    transform: translate(-50%);
}

.airpods-btns button{
    width: 10rem;
    height: 3rem;
    margin:0 2rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}
.airpods-btn-1{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.airpods-btn-2{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-nav img{
    width: 6rem;
    margin: 0rem 4rem;
    cursor: pointer;
}
.copyright{
    margin-top: 4rem;
    text-align: center;
}