a{
    text-decoration: none;
}
li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--primary-color);
    padding-bottom: 5rem;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 38% 100%, 0 100%, 0% 50%);
    transition: background-image 5s;
}
#iPhone{
    padding: 10rem 5rem;
}
#macbook{
    padding: 10rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    background-color: var(--black-color);
    clip-path: polygon(0 3%, 70% 0, 100% 0, 100% 97%, 30% 100%, 0 100%);
    perspective: 100rem;
}


#watches{
   height: 140vh;
   padding: 20vh 0 ;
   /* border: 2px solid blue; */
   position: relative;
}

.hide{
    opacity: 0;
    visibility: hidden;
}
#airpods{
    padding: 10rem ;
    /* border: 1px solid green; */
}
#footer{
    padding: 5rem 0;
}